<footer class="container footer">
    <p class="footer__copyright">Copyright © Kodekita 2024 | All Rights Reserved</p>

    <div class="footer__links">
        <a class="link" href="#">Tentang kami</a>
        <a class="link" href="#">Proposal</a>
        <a class="link" href="#">Artikel</a>
        <a class="link" href="#">Penulis</a>
    </div>
</footer>
<style>
    .footer {
		background-color: var(--secondary-box);
		padding-bottom: 3rem;

		.footer__copyright {
			font-weight: bold;
			margin: 1rem 0;
		}

		.footer__links {
			a {
				color: var(--primary);
				margin: 0 1rem 2rem 0;
			}
		}
	}
</style>