/* light */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

* {
  font-family: "EB Garamond", serif !important;
}

.frame-content {
  color-scheme: light;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0 8vw;
  color: #1f2328;
  background-color: #ffffff;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  scroll-behavior: auto !important;
}

.frame-content .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

.frame-content h1:hover .anchor .octicon-link:before,
.frame-content h2:hover .anchor .octicon-link:before,
.frame-content h3:hover .anchor .octicon-link:before,
.frame-content h4:hover .anchor .octicon-link:before,
.frame-content h5:hover .anchor .octicon-link:before,
.frame-content h6:hover .anchor .octicon-link:before {
  width: 16px;
  height: 16px;
  content: ' ';
  display: inline-block;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
}

.frame-content details,
.frame-content figcaption,
.frame-content figure {
  display: block;
}

.frame-content summary {
  display: list-item;
}

.frame-content [hidden] {
  display: none !important;
}

.frame-content a {
  background-color: transparent;
  color: #0969da;
  text-decoration: none;
}

.frame-content abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

.frame-content b,
.frame-content strong {
  font-weight: 600;
}

.frame-content dfn {
  font-style: italic;
}

.frame-content h1 {
  margin: .67em 0;
  font-weight: 600;
  padding-bottom: .3em;
  font-size: 2em;
  border-bottom: 1px solid #d1d9e0b3;
}

.frame-content mark {
  background-color: #fff8c5;
  color: #1f2328;
}

.frame-content small {
  font-size: 90%;
}

.frame-content sub,
.frame-content sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.frame-content sub {
  bottom: -0.25em;
}

.frame-content sup {
  top: -0.5em;
}

.frame-content img {
  border-style: none;
  max-width: 100%;
  box-sizing: content-box;
}

.frame-content code,
.frame-content kbd,
.frame-content pre,
.frame-content samp {
  font-family: monospace;
  font-size: 1em;
}

.frame-content figure {
  margin: 1em 2.5rem;
}

.frame-content hr {
  box-sizing: content-box;
  overflow: hidden;
  background: transparent;
  border-bottom: 1px solid #d1d9e0b3;
  height: .25em;
  padding: 0;
  margin: 1.5rem 0;
  background-color: #d1d9e0;
  border: 0;
}

.frame-content input {
  font: inherit;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.frame-content [type=button],
.frame-content [type=reset],
.frame-content [type=submit] {
  -webkit-appearance: button;
  appearance: button;
}

.frame-content [type=checkbox],
.frame-content [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.frame-content [type=number]::-webkit-inner-spin-button,
.frame-content [type=number]::-webkit-outer-spin-button {
  height: auto;
}

.frame-content [type=search]::-webkit-search-cancel-button,
.frame-content [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

.frame-content ::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}

.frame-content ::-webkit-file-upload-button {
  -webkit-appearance: button;
  appearance: button;
  font: inherit;
}

.frame-content a:hover {
  text-decoration: underline;
}

.frame-content ::placeholder {
  color: #59636e;
  opacity: 1;
}

.frame-content hr::before {
  display: table;
  content: "";
}

.frame-content hr::after {
  display: table;
  clear: both;
  content: "";
}

.frame-content table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

.frame-content td,
.frame-content th {
  padding: 0;
}

.frame-content details summary {
  cursor: pointer;
}

.frame-content a:focus,
.frame-content [role=button]:focus,
.frame-content input[type=radio]:focus,
.frame-content input[type=checkbox]:focus {
  outline: 2px solid #0969da;
  outline-offset: -2px;
  box-shadow: none;
}

.frame-content a:focus:not(:focus-visible),
.frame-content [role=button]:focus:not(:focus-visible),
.frame-content input[type=radio]:focus:not(:focus-visible),
.frame-content input[type=checkbox]:focus:not(:focus-visible) {
  outline: solid 1px transparent;
}

.frame-content a:focus-visible,
.frame-content [role=button]:focus-visible,
.frame-content input[type=radio]:focus-visible,
.frame-content input[type=checkbox]:focus-visible {
  outline: 2px solid #0969da;
  outline-offset: -2px;
  box-shadow: none;
}

.frame-content a:not([class]):focus,
.frame-content a:not([class]):focus-visible,
.frame-content input[type=radio]:focus,
.frame-content input[type=radio]:focus-visible,
.frame-content input[type=checkbox]:focus,
.frame-content input[type=checkbox]:focus-visible {
  outline-offset: 0;
}

.frame-content kbd {
  display: inline-block;
  padding: 0.25rem;
  font: 11px ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  line-height: 10px;
  color: #1f2328;
  vertical-align: middle;
  background-color: #f6f8fa;
  border: solid 1px #d1d9e0b3;
  border-bottom-color: #d1d9e0b3;
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 #d1d9e0b3;
}

.frame-content h1,
.frame-content h2,
.frame-content h3,
.frame-content h4,
.frame-content h5,
.frame-content h6 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
  line-height: 1.25;
}

.frame-content h2 {
  font-weight: 600;
  padding-bottom: .3em;
  font-size: 1.5em;
  border-bottom: 1px solid #d1d9e0b3;
}

.frame-content h3 {
  font-weight: 600;
  font-size: 1.25em;
}

.frame-content h4 {
  font-weight: 600;
  font-size: 1em;
}

.frame-content h5 {
  font-weight: 600;
  font-size: .875em;
}

.frame-content h6 {
  font-weight: 600;
  font-size: .85em;
  color: #59636e;
}

.frame-content p {
  margin-top: 0;
  margin-bottom: 10px;
}

.frame-content blockquote {
  margin: 0;
  padding: 0 1em;
  color: #59636e;
  border-left: .25em solid #d1d9e0;
}

.frame-content ul,
.frame-content ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}

.frame-content ol ol,
.frame-content ul ol {
  list-style-type: lower-roman;
}

.frame-content ul ul ol,
.frame-content ul ol ol,
.frame-content ol ul ol,
.frame-content ol ol ol {
  list-style-type: lower-alpha;
}

.frame-content dd {
  margin-left: 0;
}

.frame-content tt,
.frame-content code,
.frame-content samp {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  font-size: 12px;
}

.frame-content pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  font-size: 12px;
  word-wrap: normal;
}

.frame-content .octicon {
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
}

.frame-content input::-webkit-outer-spin-button,
.frame-content input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

.frame-content .mr-2 {
  margin-right: 0.5rem !important;
}

.frame-content::before {
  display: table;
  content: "";
}

.frame-content::after {
  display: table;
  clear: both;
  content: "";
}

.frame-content>*:first-child {
  margin-top: 0 !important;
}

.frame-content>*:last-child {
  margin-bottom: 0 !important;
}

.frame-content a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.frame-content .absent {
  color: #d1242f;
}

.frame-content .anchor {
  float: left;
  padding-right: 0.25rem;
  margin-left: -20px;
  line-height: 1;
}

.frame-content .anchor:focus {
  outline: none;
}

.frame-content p,
.frame-content blockquote,
.frame-content ul,
.frame-content ol,
.frame-content dl,
.frame-content table,
.frame-content pre,
.frame-content details {
  margin-top: 0;
  margin-bottom: 1rem;
}

.frame-content blockquote>:first-child {
  margin-top: 0;
}

.frame-content blockquote>:last-child {
  margin-bottom: 0;
}

.frame-content h1 .octicon-link,
.frame-content h2 .octicon-link,
.frame-content h3 .octicon-link,
.frame-content h4 .octicon-link,
.frame-content h5 .octicon-link,
.frame-content h6 .octicon-link {
  color: #1f2328;
  vertical-align: middle;
  visibility: hidden;
}

.frame-content h1:hover .anchor,
.frame-content h2:hover .anchor,
.frame-content h3:hover .anchor,
.frame-content h4:hover .anchor,
.frame-content h5:hover .anchor,
.frame-content h6:hover .anchor {
  text-decoration: none;
}

.frame-content h1:hover .anchor .octicon-link,
.frame-content h2:hover .anchor .octicon-link,
.frame-content h3:hover .anchor .octicon-link,
.frame-content h4:hover .anchor .octicon-link,
.frame-content h5:hover .anchor .octicon-link,
.frame-content h6:hover .anchor .octicon-link {
  visibility: visible;
}

.frame-content h1 tt,
.frame-content h1 code,
.frame-content h2 tt,
.frame-content h2 code,
.frame-content h3 tt,
.frame-content h3 code,
.frame-content h4 tt,
.frame-content h4 code,
.frame-content h5 tt,
.frame-content h5 code,
.frame-content h6 tt,
.frame-content h6 code {
  padding: 0 .2em;
  font-size: inherit;
}

.frame-content summary h1,
.frame-content summary h2,
.frame-content summary h3,
.frame-content summary h4,
.frame-content summary h5,
.frame-content summary h6 {
  display: inline-block;
}

.frame-content summary h1 .anchor,
.frame-content summary h2 .anchor,
.frame-content summary h3 .anchor,
.frame-content summary h4 .anchor,
.frame-content summary h5 .anchor,
.frame-content summary h6 .anchor {
  margin-left: -40px;
}

.frame-content summary h1,
.frame-content summary h2 {
  padding-bottom: 0;
  border-bottom: 0;
}

.frame-content ul.no-list,
.frame-content ol.no-list {
  padding: 0;
  list-style-type: none;
}

.frame-content ol[type="a s"] {
  list-style-type: lower-alpha;
}

.frame-content ol[type="A s"] {
  list-style-type: upper-alpha;
}

.frame-content ol[type="i s"] {
  list-style-type: lower-roman;
}

.frame-content ol[type="I s"] {
  list-style-type: upper-roman;
}

.frame-content ol[type="1"] {
  list-style-type: decimal;
}

.frame-content div>ol:not([type]) {
  list-style-type: decimal;
}

.frame-content ul ul,
.frame-content ul ol,
.frame-content ol ol,
.frame-content ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.frame-content li>p {
  margin-top: 1rem;
}

.frame-content li+li {
  margin-top: .25em;
}

.frame-content dl {
  padding: 0;
}

.frame-content dl dt {
  padding: 0;
  margin-top: 1rem;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.frame-content dl dd {
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.frame-content table th {
  font-weight: 600;
}

.frame-content table th,
.frame-content table td {
  padding: 6px 13px;
  border: 1px solid #d1d9e0;
}

.frame-content table td>:last-child {
  margin-bottom: 0;
}

.frame-content table tr {
  background-color: #ffffff;
  border-top: 1px solid #d1d9e0b3;
}

.frame-content table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.frame-content table img {
  background-color: transparent;
}

.frame-content img[align=right] {
  padding-left: 20px;
}

.frame-content img[align=left] {
  padding-right: 20px;
}

.frame-content .emoji {
  max-width: none;
  vertical-align: text-top;
  background-color: transparent;
}

.frame-content span.frame {
  display: block;
  overflow: hidden;
}

.frame-content span.frame>span {
  display: block;
  float: left;
  width: auto;
  padding: 7px;
  margin: 13px 0 0;
  overflow: hidden;
  border: 1px solid #d1d9e0;
}

.frame-content span.frame span img {
  display: block;
  float: left;
}

.frame-content span.frame span span {
  display: block;
  padding: 5px 0 0;
  clear: both;
  color: #1f2328;
}

.frame-content span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}

.frame-content span.align-center>span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: center;
}

.frame-content span.align-center span img {
  margin: 0 auto;
  text-align: center;
}

.frame-content span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}

.frame-content span.align-right>span {
  display: block;
  margin: 13px 0 0;
  overflow: hidden;
  text-align: right;
}

.frame-content span.align-right span img {
  margin: 0;
  text-align: right;
}

.frame-content span.float-left {
  display: block;
  float: left;
  margin-right: 13px;
  overflow: hidden;
}

.frame-content span.float-left span {
  margin: 13px 0 0;
}

.frame-content span.float-right {
  display: block;
  float: right;
  margin-left: 13px;
  overflow: hidden;
}

.frame-content span.float-right>span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: right;
}

.frame-content code,
.frame-content tt {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: #818b981f;
  border-radius: 6px;
}

.frame-content code br,
.frame-content tt br {
  display: none;
}

.frame-content del code {
  text-decoration: inherit;
}

.frame-content samp {
  font-size: 85%;
}

.frame-content pre code {
  font-size: 100%;
}

.frame-content pre>code {
  padding: 0;
  margin: 0;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.frame-content .highlight {
  margin-bottom: 1rem;
}

.frame-content .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.frame-content .highlight pre,
.frame-content pre {
  padding: 1rem;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  color: #1f2328;
  background-color: #f6f8fa;
  border-radius: 6px;
}

.frame-content pre code,
.frame-content pre tt {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.frame-content .csv-data td,
.frame-content .csv-data th {
  padding: 5px;
  overflow: hidden;
  font-size: 12px;
  line-height: 1;
  text-align: left;
  white-space: nowrap;
}

.frame-content .csv-data .blob-num {
  padding: 10px 0.5rem 9px;
  text-align: right;
  background: #ffffff;
  border: 0;
}

.frame-content .csv-data tr {
  border-top: 0;
}

.frame-content .csv-data th {
  font-weight: 600;
  background: #f6f8fa;
  border-top: 0;
}

.frame-content [data-footnote-ref]::before {
  content: "[";
}

.frame-content [data-footnote-ref]::after {
  content: "]";
}

.frame-content .footnotes {
  font-size: 12px;
  color: #59636e;
  border-top: 1px solid #d1d9e0;
}

.frame-content .footnotes ol {
  padding-left: 1rem;
}

.frame-content .footnotes ol ul {
  display: inline-block;
  padding-left: 1rem;
  margin-top: 1rem;
}

.frame-content .footnotes li {
  position: relative;
}

.frame-content .footnotes li:target::before {
  position: absolute;
  top: calc(0.5rem*-1);
  right: calc(0.5rem*-1);
  bottom: calc(0.5rem*-1);
  left: calc(1.5rem*-1);
  pointer-events: none;
  content: "";
  border: 2px solid #0969da;
  border-radius: 6px;
}

.frame-content .footnotes li:target {
  color: #1f2328;
}

.frame-content .footnotes .data-footnote-backref g-emoji {
  font-family: monospace;
}

.frame-content .pl-c {
  color: #59636e;
}

.frame-content .pl-c1,
.frame-content .pl-s .pl-v {
  color: #0550ae;
}

.frame-content .pl-e,
.frame-content .pl-en {
  color: #6639ba;
}

.frame-content .pl-smi,
.frame-content .pl-s .pl-s1 {
  color: #1f2328;
}

.frame-content .pl-ent {
  color: #0550ae;
}

.frame-content .pl-k {
  color: #cf222e;
}

.frame-content .pl-s,
.frame-content .pl-pds,
.frame-content .pl-s .pl-pse .pl-s1,
.frame-content .pl-sr,
.frame-content .pl-sr .pl-cce,
.frame-content .pl-sr .pl-sre,
.frame-content .pl-sr .pl-sra {
  color: #0a3069;
}

.frame-content .pl-v,
.frame-content .pl-smw {
  color: #953800;
}

.frame-content .pl-bu {
  color: #82071e;
}

.frame-content .pl-ii {
  color: #f6f8fa;
  background-color: #82071e;
}

.frame-content .pl-c2 {
  color: #f6f8fa;
  background-color: #cf222e;
}

.frame-content .pl-sr .pl-cce {
  font-weight: bold;
  color: #116329;
}

.frame-content .pl-ml {
  color: #3b2300;
}

.frame-content .pl-mh,
.frame-content .pl-mh .pl-en,
.frame-content .pl-ms {
  font-weight: bold;
  color: #0550ae;
}

.frame-content .pl-mi {
  font-style: italic;
  color: #1f2328;
}

.frame-content .pl-mb {
  font-weight: bold;
  color: #1f2328;
}

.frame-content .pl-md {
  color: #82071e;
  background-color: #ffebe9;
}

.frame-content .pl-mi1 {
  color: #116329;
  background-color: #dafbe1;
}

.frame-content .pl-mc {
  color: #953800;
  background-color: #ffd8b5;
}

.frame-content .pl-mi2 {
  color: #d1d9e0;
  background-color: #0550ae;
}

.frame-content .pl-mdr {
  font-weight: bold;
  color: #8250df;
}

.frame-content .pl-ba {
  color: #59636e;
}

.frame-content .pl-sg {
  color: #818b98;
}

.frame-content .pl-corl {
  text-decoration: underline;
  color: #0a3069;
}

.frame-content [role=button]:focus:not(:focus-visible),
.frame-content [role=tabpanel][tabindex="0"]:focus:not(:focus-visible),
.frame-content button:focus:not(:focus-visible),
.frame-content summary:focus:not(:focus-visible),
.frame-content a:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}

.frame-content [tabindex="0"]:focus:not(:focus-visible),
.frame-content details-dialog:focus:not(:focus-visible) {
  outline: none;
}

.frame-content g-emoji {
  display: inline-block;
  min-width: 1ch;
  font-family: "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1em;
  font-style: normal !important;
  font-weight: 400;
  line-height: 1;
  vertical-align: -0.075em;
}

.frame-content g-emoji img {
  width: 1em;
  height: 1em;
}

.frame-content .task-list-item {
  list-style-type: none;
}

.frame-content .task-list-item label {
  font-weight: 400;
}

.frame-content .task-list-item.enabled label {
  cursor: pointer;
}

.frame-content .task-list-item+.task-list-item {
  margin-top: 0.25rem;
}

.frame-content .task-list-item .handle {
  display: none;
}

.frame-content .task-list-item-checkbox {
  margin: 0 .2em .25em -1.4em;
  vertical-align: middle;
}

.frame-content ul:dir(rtl) .task-list-item-checkbox {
  margin: 0 -1.6em .25em .2em;
}

.frame-content ol:dir(rtl) .task-list-item-checkbox {
  margin: 0 -1.6em .25em .2em;
}

.frame-content .contains-task-list:hover .task-list-item-convert-container,
.frame-content .contains-task-list:focus-within .task-list-item-convert-container {
  display: block;
  width: auto;
  height: 24px;
  overflow: visible;
  clip: auto;
}

.frame-content ::-webkit-calendar-picker-indicator {
  filter: invert(50%);
}

.frame-content .markdown-alert {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  color: inherit;
  border-left: .25em solid #d1d9e0;
}

.frame-content .markdown-alert>:first-child {
  margin-top: 0;
}

.frame-content .markdown-alert>:last-child {
  margin-bottom: 0;
}

.frame-content .markdown-alert .markdown-alert-title {
  display: flex;
  font-weight: 500;
  align-items: center;
  line-height: 1;
}

.frame-content .markdown-alert.markdown-alert-note {
  border-left-color: #0969da;
}

.frame-content .markdown-alert.markdown-alert-note .markdown-alert-title {
  color: #0969da;
}

.frame-content .markdown-alert.markdown-alert-important {
  border-left-color: #8250df;
}

.frame-content .markdown-alert.markdown-alert-important .markdown-alert-title {
  color: #8250df;
}

.frame-content .markdown-alert.markdown-alert-warning {
  border-left-color: #9a6700;
}

.frame-content .markdown-alert.markdown-alert-warning .markdown-alert-title {
  color: #9a6700;
}

.frame-content .markdown-alert.markdown-alert-tip {
  border-left-color: #1a7f37;
}

.frame-content .markdown-alert.markdown-alert-tip .markdown-alert-title {
  color: #1a7f37;
}

.frame-content .markdown-alert.markdown-alert-caution {
  border-left-color: #cf222e;
}

.frame-content .markdown-alert.markdown-alert-caution .markdown-alert-title {
  color: #d1242f;
}

.frame-content>*:first-child>.heading-element:first-child {
  margin-top: 0 !important;
}
