---
import Navbar from "@/components/Navbar.astro"
import Footer from "@/components/Footer.astro"

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="id">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navbar />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

	:root {
		font-size: 16px;

		--secondary-box: #efefef;
		--secondary-action: #888888;
		--secondary-text: #4b4b4b;

		--primary: #FF0F1B;
		--primary-shadow: #FF0F1B77;
		--text-shadow: #25252577;
		--text: #252525;
		--bg: #FFF;

		--rounded: 8px;
		--rounded-lg: 16px;
	}

	body {
		background-color: var(--bg);
		overflow-x: hidden;
	}

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	
	p, h1, h2, h3, a, button {
		font-family: "Lora", serif;
		font-optical-sizing: auto;
		font-size: 1rem;
		color: var(--text);
	}

	button {
		all: unset;
		cursor: pointer;
	}

	a {
		text-decoration: none;
	}

	.link:hover {
		text-decoration: underline;
	}

	.button {
		font-weight: bold;
		color: var(--bg);
		padding: 1rem 2rem;
		min-width: 10rem;
		background-color: var(--primary);
		margin: 0.25rem 0;
		border-radius: var(--rounded);
		box-shadow: 0px 4px 10px var(--primary-shadow);
		
		a {
			color: var(--bg);
		}
	}

	.button--secondary {
		background-color: var(--text);
		color: var(--bg);
		box-shadow: 0px 4px 10px var(--text-shadow);
	}

	.container {
		padding: 1rem 8vw;
	}

	.bold {
		font-weight: bold;
	}

	.flex {
		display: flex;
	}

	.flex--col {
		flex-direction: column;
	}

	.flex--row {
		flex-direction: row;
	}

	.flex--wrap {
		flex-wrap: wrap;
	}

	::-webkit-scrollbar {
		width: 0.8rem;
	}

	::-webkit-scrollbar-track {
		background: var(--secondary-box);
	}

	::-webkit-scrollbar-thumb {
		background: var(--secondary-action);
	}
</style>
